{% extends 'material/frontend/base_module.html' %}
{% load static %}

{% block extrahead %}
<link href="{% static 'innovation/css/base.css' %}" rel="stylesheet">
{#<link href="{% static 'innovation/css/materialize.css' %}" rel="stylesheet">#}
{#<link href="{% static 'innovation/css/materialize.forms.css' %}" rel="stylesheet">#}
<link href="{% static 'innovation/css/materialize.frontend.css' %}" rel="stylesheet">
{#<link href="{% static 'innovation/css/materialize.frontend.print.css' %}" rel="stylesheet">#}
{#<link href="{% static 'innovation/imgs/background.svg' %}" rel="stylesheet">#}
{#<link href="{% static 'innovation/imgs/sidenav.svg' %}" rel="stylesheet">#}
{#<script type="text/javascript" src="{% static 'dashboard/js/Chart.js' %}" rel="stylesheet"></script>#}
{% endblock %}

