<div class="card stats-card">
    <div class="card-content">
        <div id="chartHolder" style="width:100%; height:500px;"></div>
        <canvas id="id_chart_{{ title|slugify }}">
        </canvas>
        <script type="text/javascript">
          var chartVars = "KoolOnLoadCallFunction=chartReadyHandler";

KoolChart.create("chart1", "chartHolder", chartVars, "100%", "100%");

function chartReadyHandler(id) {
  document.getElementById(id).setLayout(layoutStr);
  document.getElementById(id).setData(makeData());
}

var layoutStr =
  '<KoolChart backgroundColor="#FFFFFF"  borderStyle="none" fontSize="32" fontFamily="Noto Sans">'
   +'<Options>'
    +'<Caption text="WordCloud"/>'
   +'</Options>'
   +'<WordCloudChart showDataTips="true">'
    +'<series>'
     +'<WordCloudSeries textField="text" weightField="weight">'
      +'<showDataEffect>'
       +'<SeriesInterpolate duration="1000"/>'
      +'</showDataEffect>'
      +'<fills>'
       +'<SolidColor color="#5586a4"/>'
       +'<SolidColor color="#40b2e6"/>'
       +'<SolidColor color="#ffa123"/>'
       +'<SolidColor color="#595c7b"/>'
       +'<SolidColor color="#ef8075"/>'
       +'<SolidColor color="#f8ba03"/>'
       +'<SolidColor color="#03b79a"/>'
       +'<SolidColor color="#a5d4e6"/>'
       +'<SolidColor color="#b79d7c"/>'
       +'<SolidColor color="#9e589e"/>'
      +'</fills>'
     +'</WordCloudSeries>'
    +'</series>'
   +'</WordCloudChart>'
  +'</KoolChart>';

function changeData(){
  document.getElementById("chart1").setData(makeData());
 }

 function makeData(){
  var i, n,
   chartData = [],
   data = [{% for item in stats %}'{{ item.word}}',{% endfor %}]
   weights = [{% for item in stats %}'{{ item.count}}',{% endfor %}]
  for(i = 0, n = data.length ; i < n ; i += 1){
   chartData.push({
    text : data[i],
    weight : weights[i] * 2
   });
  }
  return chartData;
 };
        </script>
        <div style="clear:both"></div>
    </div>
</div>
